html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(
    167.82deg,
    #1a162b 0%,
    #191a1f 50.57%,
    #110f29 99.08%
  );
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.page {
  height: 100vh;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 800px) {
  main {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
